@use 'variables' as v;

@mixin mobile_414 {
  @media (min-width: v.$mobile_414) {
    @content;
  }
}

@mixin tablet_600 {
  @media (min-width: v.$tablet_600) {
    @content;
  }
}

@mixin tablet_712 {
  @media (min-width: v.$tablet_712) {
    @content;
  }
}

@mixin tablet_768 {
  @media (min-width: v.$tablet_768) {
    @content;
  }
}

@mixin tablet_800 {
  @media (min-width: v.$tablet_800) {
    @content;
  }
}

@mixin tablet_992 {
  @media (min-width: v.$tablet_992) {
    @content;
  }
}

@mixin desktop_1024 {
  @media (min-width: v.$desktop_1024) {
    @content;
  }
}

@mixin xl_desktop_1280 {
  @media (min-width: v.$xl_desktop_1280) {
    @content;
  }
}

// From To
@mixin mqFromTo($from, $to) {
  @media only screen and (min-width: $from) and (max-width: $to) {
    @content;
  }
}

// Grid
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}
