@use 'variables' as v;

@mixin mobile_414 {
  @media (min-width: v.$mobile_414) {
    @content;
  }
}

@mixin tablet_768 {
  @media (min-width: v.$tablet_768) {
    @content;
  }
}

@mixin tablet_992 {
  @media (min-width: v.$tablet_992) {
    @content;
  }
}

@mixin desktop_1024 {
  @media (min-width: v.$desktop_1024) {
    @content;
  }
}

@mixin xl_desktop_1280 {
  @media (min-width: v.$xl_desktop_1280) {
    @content;
  }
}

// Grid
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}
