ul {
  // list-style-type: circle;
  // list-style-position: outside;
  // list-style-image: url(..img/image.jpg);
  // list-style: square inside url('marker.png');
  list-style: none;
  padding: 0;
  margin: 0;
}