// Fonts
$main_font: 'Raleway', sans-serif;
$regular_font: 'Roboto', sans-serif;
$italic_font: 'Bona Nova', serif;

// Font Weight
$light: 300;
$normal: 400;
$bold: 700;
$extra_bold: 900;

// Media Queries
$mobile_414: 414px; // iPhone 6S
$tablet_768: 768px; // iPad Mini
$tablet_992: 992px; // tablet generic
$desktop_1024: 1024px; // iPad Pro
$xl_desktop_1280: 1280px; // Laptop

// Unit
$spacing: 5rem;
