.roboto-400 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-900 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

// Text
.text-center {
  text-align: center;
}