@use 'settings/colors' as c;
@use 'settings/variables' as v;
@use 'settings/mixins' as m;

.header {
  padding: 5rem 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  @include m.tablet_768 {
    min-height: 70rem;
  }

  &::before {
    content: '';
    background-color: c.$black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-content {
    position: relative;
  }

  &-text {
    margin-top: 5rem;

    @include m.tablet_768 {
      margin-top: 10rem;
    }

    h1 {
      text-align: center;
      text-transform: uppercase;
      color: c.$white;
    }
  }
}

.header-home {
  background-image: url(../img/header_inicio.jpg);
}

.header-about {
  background-image: url(../img/header_nosotros.jpg);
}

.header-process {
  background-image: url(../img/header_proceso.jpg);
}

.header-menu {
  background-image: url(../img/header_menu.jpg);
}

.header-gallery {
  background-image: url(../img/header_galeria.jpg);
}

.header-contact {
  background-image: url(../img/header_contacto.jpg);
}